include ../../components/index
include ./mixins

doctype html
html(lang="ko")
  head
    title 저축은행중앙회 가이드
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    )
    link(
      rel="stylesheet"
      href="/docs/css/index.css"
    )
    link(
      rel="stylesheet"
      href="/css/index.css"
    )
  body
    #guideWrap
      block content
    script(
      type="text/javascript"
      src="/js/index.js"
    )
    script(
      type="text/javascript"
      src="/index.js"
    )

    