include ../../components/atoms/index
include ./mixins

doctype html
html(lang="ko")
  head
    title 저축은행중앙회 가이드
    link(
      rel="stylesheet"
      href="/docs/css/index.css"
    )
    link(
      rel="stylesheet"
      href="/css/index.css"
    )
  body
    #guideWrap
      block content
    script(
      type="text/javascript"
      src="/js/index.js"
    )
    script(
      type="text/javascript"
      src="/index.js"
    )

    