doctype html
html(lang="ko")
  head
    - let TITLE = "";
    block head
      title=`저축은행중앙회`
      meta(
        charset="utf-8"
      )
      meta(
        name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
      )
      script(
        src="/js/index.js"
      )
      link(
        rel="stylesheet"
        href="/docs/css/index.css"
      )
  body
    #mainWrap 
      .guide_main 저축은행중앙회 퍼블리싱 진행표
      //test
