
mixin mui-checkbox
  - const { elememt = 'span', class: cssClass, labelText, id, name, ...rest } = attributes
  - const prefix = 'mui'
  #{elememt}.mui-checkbox(
    class=cssClass
  )
    input(
      type="checkbox"
      id=id
    )&attributes(rest)
    if labelText
      label(
        for=id
      )
        | #{labelText}
