mixin dataTable(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element = 'div', caption, headData, bodyData, footerData, className, colgroup, ...rest } = Object.assign({}, params)

  #{element}.mui-datatable(
    class=className
  )
    table
      if colgroup
        +colgroup(colgroup)
      if caption
        +table-caption({
          caption: caption
        })
      
      if headData
        +table-body({
          tag:"thead",
          data:headData
        })

      if bodyData
        +table-body({
          tag:"tbody",
          data:bodyData
        })

      if footerData
        +table-body({
          tag:"tfoot",
          data:footerData
        })

mixin table-body(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End


  - const { data, tag, ...rest } = Object.assign({}, params)
  - const element = tag
  #{element}
    - for (let i = 0; i < data.length; i++)
      tr
        - for (let j = 0; j < data[i].length; j++)
          if data[i][j].title || element === "thead"
            th(
              scope=(element === "thead" ? "cols":"rows")
              class="th"+(data[i][j].className?" "+data[i][j].className : "")
              colspan=data[i][j].colspan
              rowspan=data[i][j].rowspan
            )!= data[i][j].text
          else
            td(
              class=(data[i][j].className?" "+data[i][j].className : "")
              colspan=data[i][j].colspan
              rowspan=data[i][j].rowspan
            )!= data[i][j].text


mixin table-caption(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { caption, ...rest } = Object.assign({}, params)
  caption #{caption}

mixin colgroup(data)
  colgroup
    - for (let i = 0; i < data.length; i++)
      col(
        width=data[i]
      )