mixin datepicker(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const {element='span', className, placeholder, value, ...rest} = Object.assign({}, params);
  #{element}(
    class=`${prefix}${divide}datepicker`
    class=className
    mui-datepicker=""
  )
    +input({
      value:value
    })