
mixin mui-checkbox(params={})
  - const { elememt = 'span', class: cssClass, labelText, id, name, ...rest } = Object.assign({}, params)
  - const prefix = 'mui'
  #{elememt}.mui-checkbox(
    class=cssClass
  )
    input(
      type="checkbox"
      id=id
    )&attributes(rest)
    if labelText
      label(
        for=id
      )
        | #{labelText}
